name: Yarn Audit

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: 'npm'
      - run: yarn install --frozen-lockfile
      - name: Audit dependencies
        run: |
          yarn audit || echo "::warning::yarn audit hat Probleme gefunden"
        continue-on-error: true
